#imageList {
    color: #fff;
}

#logo {
    top: 0px;
    left: 55px;
    width: 170px;
    height: 103px;
    position: absolute;
}

.selectedSlider {
    border: 2px solid #fff;
    border-radius: 3px;
}