.navbarMenu {
    width: 426.8px;
    margin: 7.5vh 830px;
    position: absolute;
}

.itemMenu li {
    list-style: none;
}

.itemMenu li a {
    height: 53px;
}

.itemMenu li a:hover {
    border-bottom: 7px solid #fff;
}

.itemMenu li a, .itemMenu li a:link, .itemMenu li a:visited {
    color: #fff;
    display: block;
    font-size: 20px;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px 15px;
    text-transform: lowercase;
    transition: ease-in 0.7s;
}
  
.itemMenu li a:hover, #itemMenu li a:active {
    margin: 0;
}
  
 .itemMenu li li a, #itemMenu li li a:link, #itemMenu li li a:visited {
    width: 150px;
    font-size: 13px;
    padding: 0px 15px;
    border-bottom: 1px solid #fff;
    background-color: #f1f1f3;
}
  
.itemMenu li li a:hover, #itemMenu li li a:active {
    padding: 0px 10px;
    background-color: #ededed;
}
  
.itemMenu li {
    float: left;
    padding: 0;
}
  
.itemMenu li ul {
    position: absolute;
    left: -999em;
    width: 170px;
    padding: 0;
}
  
.itemMenu li:hover ul, .itemMenu li li:hover ul, .itemMenu li li li:hover ul, .itemMenu li.sfhover ul, .itemMenu li li.sfhover ul, .itemMenu li li li.sfhover ul {
    left: auto;
}

@media only screen and (max-width : 500px) {
    .body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Montserrat-Medium, Helvetica, Arial, sans-serif;
    }

    .navbarMenu {
        margin-top: 70px;
        margin-left: -50px;
        position: absolute;
    }

    .itemMenu {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
        width: 50vw;
        height: auto;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 2;
    }

    .itemMenu li {
        letter-spacing: 3px;
        margin-left: 32px;
    }

    .itemMenu li a:hover {
        border: none;
    }

    .btn {
        background-color: transparent;
        border: none;
        margin-left: 240px;
        margin-top: -55px;
        position: absolute;
        z-index: 3;
    }
    
    .mobileMenu {
        cursor: pointer;
    }

    .mobileMenu div {
        width: 30px;
        height: 2px;
        background: #fff;
        margin: 8px;
        display: block;
    }
}