.navbarMenu {
    width: 426.8px;
    margin: -488px 830px;
    position: absolute;
}

.itemMenu li {
    list-style: none;
}

.itemMenu li a {
    height: 53px;
}

.itemMenu li a:hover {
    border-bottom: 7px solid #fff;
}

.itemMenu li a, .itemMenu li a:link, .itemMenu li a:visited {
    color: #fff;
    display: block;
    font-size: 20px;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px 15px;
    text-transform: lowercase;
    transition: ease-in 0.7s;
}
  
.itemMenu li a:hover, #itemMenu li a:active {
    margin: 0;
}
  
 .itemMenu li li a, #itemMenu li li a:link, #itemMenu li li a:visited {
    width: 150px;
    font-size: 13px;
    padding: 8px 15px;
    border-bottom: 1px solid #fff;
    background-color: #f1f1f3;
}
  
.itemMenu li li a:hover, #itemMenu li li a:active {
    padding: 8px 10px;
    background-color: #ededed;
}
  
.itemMenu li {
    float: left;
    padding: 0;
}
  
.itemMenu li ul {
    position: absolute;
    left: -999em;
    width: 170px;
    padding: 0;
}
  
.itemMenu li:hover ul, .itemMenu li li:hover ul, .itemMenu li li li:hover ul, .itemMenu li.sfhover ul, .itemMenu li li.sfhover ul, .itemMenu li li li.sfhover ul {
    left: auto;
}