.titleContainer {
    position: absolute;
    width: 300px;
    margin: -400px 50px;
}

.title {
    position: absolute;
    font-size: 37px;
    color: white;
    font-family: Montserrat-Bold, Arial, Helvetica, sans-serif;
}

.imageContainer {
    position: absolute;
    margin-left: 495px;
}

.image {
    border-radius: 10px;
    margin-top: -428px;
    width: 770px;
    height: 475px;
}

.thumbnailContainer {
    margin-top: 470px;
    grid-template-columns: repeat(4, 1fr);
    display: inline-block;
}

.thumbnail {
    height: 54px;
    width: 85px;
    margin-left: 17px;
}

.container {
    margin-left: 25px;
}